@using Exam.Core.Models

@model Chef
<div class="container">
    <div class="row">
        <div "col-6">
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label asp-for="Name" class="form-label">Name</label>
                    <input asp-for="Name" class="form-control">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="mb-3">
                    <label asp-for="Description" class="form-label">Designation</label>
                    <input asp-for="Description" class="form-control">
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="ImageFile" class="form-label">ImageFile</label>
                    <input asp-for="ImageFile" class="form-control">
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>

        </div>
    </div>
</div>
